<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReOccur.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>171A7BAA1D8F210E00896858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>171A7BC11D8F210E00896858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>171A7BCC1D8F210E00896858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
